In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("diabeties.csv")

In [3]:
df

     pregnant  glocose  bp  skin  insulin   bmi  predigree  age  target
0           6      148  72    35        0  33.6      0.627   50       1
1           1       85  66    29        0  26.6      0.351   31       0
2           8      183  64     0        0  23.3      0.672   32       1
3           1       89  66    23       94  28.1      0.167   21       0
4           0      137  40    35      168  43.1      2.288   33       1
..        ...      ...  ..   ...      ...   ...        ...  ...     ...
763        10      101  76    48      180  32.9      0.171   63       0
764         2      122  70    27        0  36.8      0.340   27       0
765         5      121  72    23      112  26.2      0.245   30       0
766         1      126  60     0        0  30.1      0.349   47       1
767         1       93  70    31        0  30.4      0.315   23       0

[768 rows x 9 columns]

In [4]:
## label encoder works in the alphabetical manner, consider 0 as a diabetic, consider 1 AS  NON_DIABETIC

In [5]:
df.shape

(768, 9)

In [6]:
df.columns

Index(['pregnant', 'glocose', 'bp', 'skin', 'insulin', 'bmi', 'predigree',
       'age', 'target'],
      dtype='object')

In [7]:
df.corr()

,pregnant,glocose,bp,skin,insulin,bmi,predigree,age,target
pregnant,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
glocose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
bp,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
bmi,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
predigree,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
target,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [8]:
df.describe()

,pregnant,glocose,bp,skin,insulin,bmi,predigree,age,target
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pregnant   768 non-null    int64
 1   glocose    768 non-null    int64
 2   bp         768 non-null    int64
 3   skin       768 non-null    int64
 4   insulin    768 non-null    int64
 5   bmi        768 non-null    float64
 6   predigree  768 non-null    float64
 7   age        768 non-null    int64
 8   target     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [10]:
df.isna().sum()

pregnant     0
glocose      0
bp           0
skin         0
insulin      0
bmi          0
predigree    0
age          0
target       0
dtype: int64

In [11]:
data_train = df.head(700)
data_test = df.tail(68)

In [12]:
data_train

     pregnant  glocose  bp  skin  insulin   bmi  predigree  age  target
0           6      148  72    35        0  33.6      0.627   50       1
1           1       85  66    29        0  26.6      0.351   31       0
2           8      183  64     0        0  23.3      0.672   32       1
3           1       89  66    23       94  28.1      0.167   21       0
4           0      137  40    35      168  43.1      2.288   33       1
..        ...      ...  ..   ...      ...   ...        ...  ...     ...
695         7      142  90    24      480  30.4      0.128   43       1
696         3      169  74    19      125  29.9      0.268   31       1
697         0       99   0     0        0  25.0      0.253   22       0
698         4      127  88    11      155  34.5      0.598   28       0
699         4      118  70     0        0  44.5      0.904   26       0

[700 rows x 9 columns]

In [13]:
data_test

     pregnant  glocose  bp  skin  insulin   bmi  predigree  age  target
700         2      122  76    27      200  35.9      0.483   26       0
701         6      125  78    31        0  27.6      0.565   49       1
702         1      168  88    29        0  35.0      0.905   52       1
703         2      129   0     0        0  38.5      0.304   41       0
704         4      110  76    20      100  28.4      0.118   27       0
..        ...      ...  ..   ...      ...   ...        ...  ...     ...
763        10      101  76    48      180  32.9      0.171   63       0
764         2      122  70    27        0  36.8      0.340   27       0
765         5      121  72    23      112  26.2      0.245   30       0
766         1      126  60     0        0  30.1      0.349   47       1
767         1       93  70    31        0  30.4      0.315   23       0

[68 rows x 9 columns]

In [14]:
data_train.columns

Index(['pregnant', 'glocose', 'bp', 'skin', 'insulin', 'bmi', 'predigree',
       'age', 'target'],
      dtype='object')

In [15]:
X = data_train.iloc[:,0:8]

In [16]:
y = data_train.iloc[:,-1]

In [17]:
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score

In [18]:
BC = BaggingClassifier(n_estimators=10,max_samples=1.0,max_features=1.0,bootstrap=True)
BC.fit(X,y)

BaggingClassifier()

In [19]:
y_pred = BC.predict(X)

In [20]:
accuracy_score(y,y_pred)

0.9742857142857143

In [21]:
data_test

     pregnant  glocose  bp  skin  insulin   bmi  predigree  age  target
700         2      122  76    27      200  35.9      0.483   26       0
701         6      125  78    31        0  27.6      0.565   49       1
702         1      168  88    29        0  35.0      0.905   52       1
703         2      129   0     0        0  38.5      0.304   41       0
704         4      110  76    20      100  28.4      0.118   27       0
..        ...      ...  ..   ...      ...   ...        ...  ...     ...
763        10      101  76    48      180  32.9      0.171   63       0
764         2      122  70    27        0  36.8      0.340   27       0
765         5      121  72    23      112  26.2      0.245   30       0
766         1      126  60     0        0  30.1      0.349   47       1
767         1       93  70    31        0  30.4      0.315   23       0

[68 rows x 9 columns]

In [22]:
data_test = data_test.reset_index()

In [23]:
data_test.drop(["index"],axis=1,inplace=True)

In [24]:
data_test

    pregnant  glocose  bp  skin  insulin   bmi  predigree  age  target
0          2      122  76    27      200  35.9      0.483   26       0
1          6      125  78    31        0  27.6      0.565   49       1
2          1      168  88    29        0  35.0      0.905   52       1
3          2      129   0     0        0  38.5      0.304   41       0
4          4      110  76    20      100  28.4      0.118   27       0
..       ...      ...  ..   ...      ...   ...        ...  ...     ...
63        10      101  76    48      180  32.9      0.171   63       0
64         2      122  70    27        0  36.8      0.340   27       0
65         5      121  72    23      112  26.2      0.245   30       0
66         1      126  60     0        0  30.1      0.349   47       1
67         1       93  70    31        0  30.4      0.315   23       0

[68 rows x 9 columns]

In [25]:
result_test = data_test.iloc[:,0:8]

In [26]:
result_test

    pregnant  glocose  bp  skin  insulin   bmi  predigree  age
0          2      122  76    27      200  35.9      0.483   26
1          6      125  78    31        0  27.6      0.565   49
2          1      168  88    29        0  35.0      0.905   52
3          2      129   0     0        0  38.5      0.304   41
4          4      110  76    20      100  28.4      0.118   27
..       ...      ...  ..   ...      ...   ...        ...  ...
63        10      101  76    48      180  32.9      0.171   63
64         2      122  70    27        0  36.8      0.340   27
65         5      121  72    23      112  26.2      0.245   30
66         1      126  60     0        0  30.1      0.349   47
67         1       93  70    31        0  30.4      0.315   23

[68 rows x 8 columns]

In [27]:
y_pred_1 = BC.predict(result_test)

In [28]:
y_pred_1

array([0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0], dtype=int64)

In [29]:
y_pred_1 = pd.DataFrame(y_pred_1)

In [30]:
y_pred_1.columns = ["Predicted_Report"]

In [31]:
y_pred_1

    Predicted_Report
0                  0
1                  1
2                  1
3                  0
4                  0
..               ...
63                 0
64                 0
65                 0
66                 0
67                 0

[68 rows x 1 columns]

In [32]:
data_test

    pregnant  glocose  bp  skin  insulin   bmi  predigree  age  target
0          2      122  76    27      200  35.9      0.483   26       0
1          6      125  78    31        0  27.6      0.565   49       1
2          1      168  88    29        0  35.0      0.905   52       1
3          2      129   0     0        0  38.5      0.304   41       0
4          4      110  76    20      100  28.4      0.118   27       0
..       ...      ...  ..   ...      ...   ...        ...  ...     ...
63        10      101  76    48      180  32.9      0.171   63       0
64         2      122  70    27        0  36.8      0.340   27       0
65         5      121  72    23      112  26.2      0.245   30       0
66         1      126  60     0        0  30.1      0.349   47       1
67         1       93  70    31        0  30.4      0.315   23       0

[68 rows x 9 columns]

In [33]:
frames = [data_test,y_pred_1]

In [34]:
result_merge = pd.concat(frames,axis=1)

In [35]:
result_merge

,pregnant,glocose,bp,skin,insulin,bmi,predigree,age,target,Predicted_Report
0,2,122,76,27,200,35.9,0.483,26,0,0
1,6,125,78,31,0,27.6,0.565,49,1,1
2,1,168,88,29,0,35.0,0.905,52,1,1
3,2,129,0,0,0,38.5,0.304,41,0,0
4,4,110,76,20,100,28.4,0.118,27,0,0
...,...,...,...,...,...,...,...,...,...,...
63,10,101,76,48,180,32.9,0.171,63,0,0
64,2,122,70,27,0,36.8,0.340,27,0,0
65,5,121,72,23,112,26.2,0.245,30,0,0
66,1,126,60,0,0,30.1,0.349,47,1,0
67,1,93,70,31,0,30.4,0.315,23,0,0

In [36]:
accuracy_score(result_merge.target,result_merge.Predicted_Report)

0.7941176470588235

## Bagging Classfier with train_test_split

In [37]:
data = pd.read_csv("diabeties.csv")
data.head()

   pregnant  glocose  bp  skin  insulin   bmi  predigree  age  target
0         6      148  72    35        0  33.6      0.627   50       1
1         1       85  66    29        0  26.6      0.351   31       0
2         8      183  64     0        0  23.3      0.672   32       1
3         1       89  66    23       94  28.1      0.167   21       0
4         0      137  40    35      168  43.1      2.288   33       1

In [38]:
data.tail()

     pregnant  glocose  bp  skin  insulin   bmi  predigree  age  target
763        10      101  76    48      180  32.9      0.171   63       0
764         2      122  70    27        0  36.8      0.340   27       0
765         5      121  72    23      112  26.2      0.245   30       0
766         1      126  60     0        0  30.1      0.349   47       1
767         1       93  70    31        0  30.4      0.315   23       0

In [39]:
data.shape

(768, 9)

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pregnant   768 non-null    int64
 1   glocose    768 non-null    int64
 2   bp         768 non-null    int64
 3   skin       768 non-null    int64
 4   insulin    768 non-null    int64
 5   bmi        768 non-null    float64
 6   predigree  768 non-null    float64
 7   age        768 non-null    int64
 8   target     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [41]:
data.describe()

,pregnant,glocose,bp,skin,insulin,bmi,predigree,age,target
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [42]:
X = data.iloc[:,0:8]

In [43]:
y = data.iloc[:,-1]

In [44]:
X

     pregnant  glocose  bp  skin  insulin   bmi  predigree  age
0           6      148  72    35        0  33.6      0.627   50
1           1       85  66    29        0  26.6      0.351   31
2           8      183  64     0        0  23.3      0.672   32
3           1       89  66    23       94  28.1      0.167   21
4           0      137  40    35      168  43.1      2.288   33
..        ...      ...  ..   ...      ...   ...        ...  ...
763        10      101  76    48      180  32.9      0.171   63
764         2      122  70    27        0  36.8      0.340   27
765         5      121  72    23      112  26.2      0.245   30
766         1      126  60     0        0  30.1      0.349   47
767         1       93  70    31        0  30.4      0.315   23

[768 rows x 8 columns]

In [45]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: target, Length: 768, dtype: int64

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier

In [47]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,test_size=0.2,random_state=356)

In [48]:
X_train

     pregnant  glocose   bp  skin  insulin   bmi  predigree  age
71          5      139   64    35      140  28.6      0.411   26
473         7      136   90     0        0  29.9      0.210   50
504         3       96   78    39        0  37.3      0.238   40
549         4      189  110    31        0  28.5      0.680   37
198         4      109   64    44       99  34.8      0.905   26
..        ...      ...  ...   ...      ...   ...        ...  ...
391         5      166   76     0        0  45.7      0.340   27
567         6       92   62    32      126  32.0      0.085   46
574         1      143   86    30      330  30.1      0.892   23
307         0      137   68    14      148  24.8      0.143   21
320         4      129   60    12      231  27.5      0.527   31

[614 rows x 8 columns]

In [49]:
y_train

71     0
473    0
504    0
549    0
198    1
      ..
391    1
567    0
574    0
307    0
320    0
Name: target, Length: 614, dtype: int64

In [50]:
X_test

     pregnant  glocose  bp  skin  insulin   bmi  predigree  age
46          1      146  56     0        0  29.7      0.564   29
623         0       94  70    27      115  43.5      0.347   21
147         2      106  64    35      119  30.5      1.400   34
148         5      147  78     0        0  33.7      0.218   65
248         9      124  70    33      402  35.4      0.282   34
..        ...      ...  ..   ...      ...   ...        ...  ...
686         3      130  64     0        0  23.1      0.314   22
237         0      179  90    27        0  44.1      0.686   23
730         3      130  78    23       79  28.4      0.323   34
239         0      104  76     0        0  18.4      0.582   27
221         2      158  90     0        0  31.6      0.805   66

[154 rows x 8 columns]

In [51]:
y_test

46     0
623    0
147    0
148    0
248    0
      ..
686    0
237    1
730    1
239    0
221    1
Name: target, Length: 154, dtype: int64

In [52]:
BC = BaggingClassifier(n_estimators=5)
BC.fit(X_train,y_train)

BaggingClassifier(n_estimators=5)

In [53]:
Y_train_pred = BC.predict(X_train)

In [54]:
accuracy_score(y_train,Y_train_pred)

0.9641693811074918

In [55]:
y_test_pred = BC.predict(X_test)

In [56]:
accuracy_score(y_test,y_test_pred)

0.7467532467532467

## Random Forest Classfier

In [59]:
from sklearn.ensemble import RandomForestClassifier

In [60]:
RC = RandomForestClassifier()
RC.fit(X_train,y_train)

RandomForestClassifier()

In [62]:
Y_train_pred1 = RC.predict(X_train)

In [63]:
accuracy_score(y_train,Y_train_pred1)

1.0

In [64]:
y_test_pred1 = RC.predict(X_test)

In [65]:
accuracy_score(y_test,y_test_pred1)

0.7727272727272727